<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit</title>
    </head>
    <body>
        <h1>This is the Place to Edit</h1>
        <br>
        <br> -->
        {% extends "base.html" %}

        {% block content %}
        <h2>Edit Your Post:</h2>
        <!-- <br> -->
        <form class="edit-post" method="post">
            <textarea name="post_update" rows="8" cols="80">{{post.content}}</textarea>
            <br>
            <button type="submit" name="update">Submit</button>
            <button type="submit" name="cancel" value="True">Cancel</button>
        </form>
        {% endblock %}
    <!-- </body>
</html> -->
