<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <html lang="en-US">

        <title>Post</title>
    </head>
    <body>
        <h1>Last Post</h1>
        <hr>
        <hr>
        <br>
        <br>
        <br>
        <!-- <div class="date-created">{{post.created}}</div> -->
        <div class="date-created">{{post.created.strftime("%b %d, %Y")}}</div>
        <div class="poster">By: {{post.name}}</div>
        <hr>
        <div class="post-subject"><b>{{post.subject}}</b></div>
        <div class="post-content">{{post.content}}</div>
        <div class="post-likes">Likes: {{count}}</div>
            {% if current_user == post.creator %}
                <form class="view-post" action="/blog">
                    <input type="submit" value="edit (n/a yet)">
                </form>
                <form class="view-post" action="/blog">
                    <input type="submit" value="delete (n/a yet)">
                </form>
            {% elif current_user != post.creator and display == 'like' %}
                <!-- This is experimental !!! -->
                <form class="like" method="post">

                    <button type="submit" name="like1" value="True">Like!</button>
                <!-- I think I can make this work cy just checking the existince of a text value for this variable -->

                <!-- <form class="like-post" method="post" action="/blog">
                    <input type="submit" value="Like! (n/a yet)">
                </form> -->
                </form>
            {% elif current_user != post.creator and display == 'unlike' %}
                <!-- This is experimental !!! -->
                <form class="like" method="post">

                    <button type="submit" name="unlike" value="True">Unlike</button>
                <!-- I think I can make this work cy just checking the existince of a text value for this variable -->

                <!-- <form class="like-post" method="post" action="/blog">
                    <input type="submit" value="Like! (n/a yet)">
                </form> -->
                </form>

            {% endif %}
        <br>
        <form class="comment" method="post">


            <!-- <button type="button" name="like">Like!</button> -->
            <br>
            <br>
            <br>
            <label>
                Leave a Comment:
                <br>
                <textarea name="comment" rows="8" cols="80"></textarea>
            </label>
            <br>
            <button type="submit" name="button">Submit</button>
        </form>
        <br>
        <br>
        <h3>Comments:</h3>
            {% for cm in comments %}
                <!--This is where the trouble is -->
                {% if cm.post_id == cur_post_id and not cm.mod %}
                <br>
                <div class="comment-content">{{cm.content}}</div>
                <div class="comment-author">By: {{cm.name}}</div>
                Posted to: {{cm.post_id}}
                <br>
                Current: {{cur_post_id}}
                <br>
                    {% if current_user == cm.creator and not cm.mod %}
                        <!-- <form class="view-post" method="post">
                            <input type="submit" name="edit_c" value="Edit">
                        </form> -->
                        <form class="edit" method="post">
                            <button type="submit" name="edit_c" value="{{cm.key()}}">Edit</button>
                        </form>
                        <form class="edit" method="post">
                            <button type="submit" name="delete_c" value="{{cm.key()}}">Delete</button>
                        </form>
                        <!-- <form class="view-post" action="/blog">
                            <input type="submit" value="delete (n/a yet)">
                        </form> -->
                    {% endif %}
                {% elif cm.post_id ==cur_post_id and current_user == cm.creator and cm.mod %}
                    <form class="comment-edit" method="post">
                        Edit Your Comment:
                        <br>
                        <textarea name="updated_comment" rows="6" cols="60">{{cm.content}}</textarea>
                        <br>
                        <button type="submit" name="update_c" value="{{cm.key()}}">Submit</button>
                        <button type="submit" action="/blog/{{cm.key().id()}}" name="cancel_u_c" value="{{cm.key()}}">Cancel</button>
                    </form>
                <br>
                {% endif %}
            {% endfor %}
        <br>
        <br>
        <br>


    </body>
</html>
