<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Matt's Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1 ">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <link rel="stylesheet" href="/static/bootstrap.min.css"> -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <h1><a class="blog-title-link" href="/blog">Matt's Blog</a></h1>
            {% if uname %}
                <p class="log-io">You're currently logged in as: {{uname}}</p>
                <a class="log-io" href="/blog/logout">Logout</a>
            {% else %}
                <p class="log-io">You're not currently logged in. </p>
                <a class="log-io" href="/blog/login">Login</a>
                <p class="log-io"> or </p>
                <a class="log-io" href="/blog/signup">Register</a>
                <p class="log-io"> to Post, Comment on, or Like content.</p>
            {% endif %}
        <hr>
        <hr>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
