        {% extends "base.html" %}

        {% block content %}
        <!-- <br>
        <form class="nav4blog" action="/blog/newpost">
            <button type="submit">Create New Post!</button>
        </form>
        <br> -->
            {% for post in posts %}
                <br>
                <br>
                <div class="post">
                    <div class="post-header date-created">{{post.created.strftime("%b %d, %Y")}}</div>
                    <div class="post-header poster">By: {{post.name}}</div>
                    <a class="title-link post-subject" href="/blog/{{post.key().id()}}">
                            {{post.subject | safe}}
                    </a>
                    <div class="post-content">{{post.content[:400] | safe}}...</div>

                </div>
            {% endfor %}
        {% endblock %}
