* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0 auto;
}
h1 {
    text-align: center;
}
footer {
    background-color: lightblue;
    min-height: 100px;
}
header {
    @extend footer;
}
.post-subject {
    // font-size: 24px;
    font-weight: bold;
}
.title-link {
    color: black;
}
.continue-link {
    color: blue;
}
.nav4blog {
    display: inline;
}
.log-io {
    display: inline;
}
.blog-title-link {
    text-decoration: none;
    color: black;
}
.post-manip {
    display: inline;
}
.com_manip {
    display: inline;
}
.comment-content {
    width: 50%;
}
.error {
    color: red;
}
