        {% extends "base.html" %}

        {% block content %}
        <br>
        <!-- <form class="nav4blog" method="post">
            <button type="submit" name="create-post" value="True">Create New Post</button>
        </form> -->
        <form class="nav4blog" action="/blog/newpost">
            <button type="submit">Create New Post!</button>
        </form>
        <br>
            {% for post in posts %}
                <br>
                <br>
                <div class="container">
                    <div class="post-header date-created">{{post.created.strftime("%b %d, %Y")}}</div>
                    <div class="post-header poster">By: {{post.name}}</div>
                </div>
                <hr>
                <div class="post-subject">
                    <a class="title-link" href="/blog/{{post.key().id()}}">
                        {{post.subject | safe}}
                    </a>
                </div>
                <div class="post-content">{{post.content[:400] | safe}}...</div>
                <br>
            {% endfor %}
        {% endblock %}
